[Interface]
PrivateKey = {{ lookup('file', '/etc/wireguard/client_privatekey') }}
Address = {{ ansible_host }}/32

[Peer]
PublicKey = {{ lookup('file', '/etc/wireguard/publickey') }}
Endpoint = {{ lookup('env', 'RPI_IP') }}:51820
AllowedIPs = 0.0.0.0/0
